sudo: required
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"

services:
    - postgresql

addons:
  postgresql: "9.6"

env:
    - DB_PASSWORD=''

notifications:
  email: false

cache:
    apt: true
    pip: true

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - export PATH=/usr/local/bin:$PATH

before_install:
  - wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS-2019.PUB
  - sudo apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS-2019.PUB 
  - sudo wget https://apt.repos.intel.com/setup/intelproducts.list -O /etc/apt/sources.list.d/intelproducts.list
  - sudo apt-get update
  - sudo apt-get install intel-mkl-2018.2-046
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p $HOME/miniconda
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda
  - conda create --yes -n condaenv python=$TRAVIS_PYTHON_VERSION
  - conda install --yes -n condaenv pip
  - source activate condaenv

install:
  - conda info -a

  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION -y
  - source activate test-environment

  - pip install .
  - pip install -r requirements.txt
  - conda install --channel rdkit rdkit -y


script:
  - nosetests ./catkit --with-coverage --cover-inclusive --cover-package=. --cover-erase
  - coverage report --omit 'docs/*,./*/tests/*,./tests/*,data/*' --show-missing

after_success:
  - coveralls
