language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  
notifications:
  email: false

cache:
    apt: true
    pip: true


before_install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p $HOME/miniconda
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda
  - conda create --yes -n condaenv python=$TRAVIS_PYTHON_VERSION
  - conda install --yes -n condaenv pip
  - source activate condaenv

install:
  - sudo apt-get update
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
  - source activate test-environment

  - pip install -r requirements.txt
  - pip install coverage
  - conda install --channel rdkit


script:
  - nosetests tests/* --with-coverage --cover-inclusive --cover-package=. --cover-erase
  - coverage report --omit 'images/*,tests/*' --show-missing

after_success:
    coveralls
