language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7-dev"

notifications:
  email: false


before_script:
  - export MPLBACKEND=Agg

install:
  - pip install .
  - pip install python-coveralls
  - pip install nose

script:
  - nosetests ./catkit --with-coverage --cover-inclusive --cover-package=. --cover-erase
  - coverage report --omit 'docs/*,./*/tests/*,./tests/*,data/*' --show-missing

after_success:
  - coveralls
