ase==3.15.0
click==6.7
cycler==0.10.0
decorator==4.1.2
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
matplotlib==2.1.0
networkx==2.0
numpy==1.13.3
pyparsing==2.2.0
pyspglib==1.8.3.1
python-dateutil==2.6.1
pytz==2017.3
scipy==1.0.0
six==1.11.0
spglib==1.10.1.4
Werkzeug==0.12.2
