ase>=3.16
matplotlib>=2.2
nose>=1.3.7
numpy>=1.14
scipy>=0.19
networkx>=2.1
sqlalchemy>=1.2
spglib>=1.10
future>=0.16
msgpack
sklearn
python-coveralls
click>=6.7
psycopg2>=2
python-Levenshtein>=0.12
pathlib2>=2.3
