git+https://gitlab.com/ase/ase.git@9f1e944260bbd4bc04db35670f84a69a270451a6#egg=ase-3.16.3
numpy>=1.14
networkx>=2.1
spglib>=1.10
scipy>=0.1
sklearn
matplotlib>=2.2
future>=0.16
fireworks>=1.7
sqlalchemy>=1.2
click>=6.7
psycopg2-binary>=2
python-Levenshtein>=0.12
pathlib2>=2.3
tabulate>=0.8.2
