# List of people reponsible for the maintainence
# of particular sections of code

# General code managers
*                     @jboes

# CatGen
catkit/gen/           @jboes

# CatFlow
catkit/flow/          @jboes

# Pawprint
catkit/pawprint/      @maumnm

# CatHub
catkit/hub/           @kirstenwinther @mhoffman

